
    <section class="menu-section">
        <div class="efi-avatar"
        [ngStyle]="{ 'background-image': 'url(assets/avatars/'+admin.avatar+'.jpg)'}"></div>
        <label>שלום {{ admin.name }}</label>
    </section>


    <app-warning></app-warning>


    <section class="search-section">
        <div class="input-cover">
            <img src="assets/magn.png" alt="Magnifying Glass">
            <input class="search-input" placeholder="חפש/י או התחיל/י צ'אט חדש">
        </div>
    </section>
