:host {

  .menu-section {
    font-size: 0;
    background-color: #eeeeee;
    width: 420px;
    display: flex;
    align-items: center;

    .menu-icons {
      float: left;
      padding: 3px 15px;

      i {
        font-size: 18px;
        padding: 18px;
        cursor: pointer;
      }
    }
    label {
      font-size: 18px;
    }
  }

  .efi-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    background-size: 100%;
    display: inline-block;
  }


  .search-section {
    width: 420px;
    padding: 8px 14px;
    background-color: #f5f5f5;

    .input-cover {
      border: solid 1px #f6f6f6;
      border-radius: 50px;
      background-color: white;
      padding: 5px;

      &>img {
        padding: 2px 10px;
      }

      input.search-input {
        border: none;
        outline: none;
        background-color: transparent;
        vertical-align: top;
        padding: 3px 4px;
        font-size: 13px;
        width: 89%;
      }

    }

  }

}
