.circle {
    position: relative;
    width: 60px;
    height: 60px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin: 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s 1s ease;
    &:after {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 84%;
        height: 84%;
        background-color: white;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    label,
    span {
        position: relative;
        display: block;
        z-index: 5;
        width: 100%;
        text-align: center;
    }

    span {
        font-size: 10px;
        color: #787878;
    }
    &.green {
        background: conic-gradient(#04a770 65%, #d8dae2 65%);
    }

    &.red {
        background: conic-gradient(#dc2e47 65%, #d8dae2 65%);
    }

    label::before {
        content: '';
        position: absolute;
        top: 7px;
        right: 11px;
        border-left: solid 4px white;
        border-right: solid 4px white;
        border-top: solid 5px #dc2e47;
    }

    label.up::before {
        top: 1px;
        border-bottom: solid 5px #04a770;
        border-top: solid 5px transparent;
    }
}