
sec-floor {
    display: block;
    width: 100%;
    height: 62%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    .floor {
        width: 200%;
        height: 100%;
        position: absolute;
        left: -50%;
        perspective: 270px;
    
        &:before,
        &>div, 
        &>div::before,
        &>div::after {
            width: 100%;
            height: 100%;
        }
    
        &:before,
        &>div::before,
        &>div::after {
            content: '';
            transform-style: preserve-3d;
            position: absolute;
        }
    
        &:before {
            z-index: 1;
            background: linear-gradient(to bottom,
                    rgba(51, 61, 75, 1) 0%,
                    rgba(51, 61, 75, .88) 49%,
                    rgba(40, 131, 208, 0) 85%,
                    rgba(125, 185, 232, 0) 100%);
            box-shadow: 0 0 0 10px rgba(51, 61, 75, 1);
            transform: rotateX(40deg);
        }
    
        &>div {
            position: relative;
            transform: rotateX(40deg);
    
            &::before {
                background: repeating-linear-gradient(rgba(255, 255, 255, .1) 0,
                        rgba(255, 255, 255, .1) 2px,
                        rgba(255, 255, 255, 0) 2px,
                        rgba(255, 255, 255, 0) 35px);
            }
            &::after {
                background: repeating-linear-gradient(90deg,
                        rgba(255, 255, 255, .1) 0,
                        rgba(255, 255, 255, .1) 2px,
                        rgba(255, 255, 255, 0) 2px,
                        rgba(255, 255, 255, 0) 90px);
            }
        }
    
    
    }
}
