<label class="value">
    {{::hexCtrl.identifier}}
    <span data-ng-if="::!!hexCtrl.hint">{{::hexCtrl.hint}}</span>
</label>
<svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 63.599 63.599"
    xml:space="preserve">
    <path fill="{{::hexCtrl.color}}"
        d="M47.706,59.8l15.893-28l-15.893-28H15.892L0,31.8l15.893,28H47.706z M17.056,5.8h29.485l14.758,26l-14.757,26H17.056    l-14.757-26L17.056,5.8z" />
</svg>