sec-hexagonal {
    max-width: 100px;
    min-width: 100px;
    display: block;
    align-items: center;
    position: relative;
    justify-content: center;

    .value {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 35px;
        color: white;
        font-weight: 100;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 100%;
        height: 100px;
        transform: rotate(30deg);
    }

    span {
        display: block;
        color: #697686;
        font-size: 10px;
        transform: translateY(-3px);
    }

    &.big {
        max-width: 370px;
        min-width: 370px;
        label {
            font-size: 72px;
        }
        svg {
            height: 268px;
        }
        span {
            font-size: 17px;
        }
    }

    &.mini {
        max-width: 30px;
        min-width: 30px;
        label {
            font-size: 15px;
            line-height: 0;
        }
        svg {
            height: 36px;
        }
        span {
            font-size: 4px;
        }
    }

}


