:host {
  .input-section {
    width: 100%;
    padding: 8px 14px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;

    .input-cover {
      border: solid 1px #f6f6f6;
      border-radius: 50px;
      background-color: white;
      flex: 1;

      input.search-input {
        border: none;
        outline: none;
        background-color: transparent;
        vertical-align: top;
        padding: 11px 18px;
        font-size: 15px;
        width: 100%;
        color: #a8a8a8;
      }
    }
    img {
      padding: 2px 0px 2px 10px;
      transform: rotateY(180deg);
      width: 35px;
      opacity: .8;
      &.valid {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
