.ranks {
    margin: 24px 4px;
    display: flex;

    section {
        position: relative;
        height: 92px;
        width: 388px;
        border-radius: 4px;
        background-color: white;
        margin: 3px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    }

    h4 {
        padding: 11px;
    }

    h5 {
        padding: 0 11px;
        font-size: 15px;
        color: #b8b8b8;
        font-weight: 500;
    }

    canvas {
        width: 135px !important;
        height: 70px !important;
        transform: translateX(14px);
        display: block;
        position: absolute;
        right: 0;
    }
    
    .circle {
        position: relative;
        width: 60px;
        height: 60px;
        margin: 8px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label,
        span {
            position: relative;
            display: block;
            z-index: 5;
            width: 100%;
            text-align: center;
        }

        span {
            font-size: 10px;
            color: #787878;
        }

        label::before {
            content: '';
            position: absolute;
            top: 7px;
            right: 11px;
            border-left: solid 4px white;
            border-right: solid 4px white;
            border-top: solid 5px #dc2e47;
        }

        label.up::before {
            top: 1px;
            border-bottom: solid 5px #04a770;
            border-top: solid 5px transparent;
        }

    }
}




