
<div class="login-card">

  <mat-card>

      <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
          <div>
              <label> שם משתמש: </label>
              <input formControlName="name">
          </div>
          <img *ngIf="myForm.get('avatar').value;else noAvatar"
            [src]="'assets/avatars/' + myForm.get('avatar').value + '.jpg'" alt="avatar">
          <ng-template #noAvatar>
            <div>
                <label> בחר תמונה: </label>
                <input (mousedown)="openImages()" formControlName="avatar">
            </div>
          </ng-template>
          <button type="submit" class="btn btn-primary"
            [disabled]="!myForm.valid">Submit</button>
      </form>

  </mat-card>

</div>

