
:host {

  .login-card {
    position: absolute;
    width: 500px;
    padding: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }

  mat-card {
    width: 100%;

    form {
      padding: 40px;
    }

    label {
      display: block;
    }

    img {
      width: 150px;
      display: block;
      margin: auto;
      box-shadow: 0 14px 3px -5px rgba(0, 0, 0, 0.2);
    }

    input {
      outline: none;
      border: solid 1px #e2e2e2;
      font-size: 16px;
      padding: 8px 10px;
      margin: 11px 0;
      margin-bottom: 30px;
      width: 100%;
    }

    button {
      border: none;
      padding: 17px 40px;
      margin-top: 30px;
      background-color: #009688;
      color: white;
      &:disabled {
        background-color: #e6e6e6;
      }
    }
  }

}
