<sec-hexagonal 
    data-color="::hexDataCtrl.model.color"
    data-identifier="::hexDataCtrl.model.identifier"
    data-hint="{{::hexDataCtrl.hint}}">
</sec-hexagonal>
<div>
    <label>{{::hexDataCtrl.model.name}}</label>
    <span>{{::hexDataCtrl.model.value}}</span>
    <span>{{::hexDataCtrl.model.description}}</span>
</div>
