    sec-hexagonal-data {

        padding: 23px 12px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;

        div {
            padding: 0 12px;
        }

        span,
        label {
            display: block;
            color: white;
        }

        label {
            padding: 5px;
        }

        span {
            padding: 3px;
            color: #697686;
        }
        
    }