ul.items {
    display: block;
    list-style: none;

    li {
        display: inline-block;
        padding: 24px 27px;
        margin-right: 24px;
    }
    
    label,
    span {
        display: block;
        font-size: 18px;
        padding: 2px 0;
    }
    
    label {
        color: white;
    }
    
    span {
        color: #787878;
    }

}

