

    <section class="start-section">
      <div class="start-img">
          <div class="squard-section">
              <div class="radiation-circle"></div>
          </div>
          <img src="assets/4.1img.2.png" alt="img">
      </div>
      <h1>
          השאר/י את הטלפון שלך מחובר
      </h1>
      <label> WhatsApp מתחבר למכשיר הטלפון שלך כדי לסנכרן הודעות. כדי להפחית את השימוש בתעבורת נתונים, חבר/י את מכשירך ל-Wi-Fi.
          </label>
      <br />

      <div class="link-to-app">

          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 21 18">
              <path fill="#9DA3A5" d="M10.426 14.235a.767.767 0 0 1-.765-.765c0-.421.344-.765.765-.765s.765.344.765.765-.344.765-.765.765zM4.309 3.529h12.235v8.412H4.309V3.529zm12.235 9.942c.841 0 1.522-.688 1.522-1.529l.008-8.412c0-.842-.689-1.53-1.53-1.53H4.309c-.841 0-1.53.688-1.53 1.529v8.412c0 .841.688 1.529 1.529 1.529H1.25c0 .842.688 1.53 1.529 1.53h15.294c.841 0 1.529-.688 1.529-1.529h-3.058z">
              </path>
          </svg>
          <span>
              אפליקציית WhatsApp עבור Windows זמינה.
          </span>

          <a href="https://www.whatsapp.com/download" target="_blank">השג את זה כאן</a>
      </div>

  </section>

