:host {

  .start-section {
    width: 517px;
    height: 635px;
    text-align: center;
    margin: 0 auto;

    .start-img {
      width: 418px;
      padding: 30px;
      margin: 0 auto;
      opacity: .5;
      position: relative;
    }


    .squard-section {
      position: absolute;
      width: 88px;
      height: 88px;
      margin: 0 auto;
      left: 0;
      right: 0;
      transform: rotate(-45deg);
      top: 50px;
      overflow: hidden;
    }

    .radiation-circle {
      width: 100%;
      height: 100%;
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: radial-gradient(ellipse at center,
          #bed2dd 0%, #bed2dd 18%,
          rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0) 32%,
          #bed2dd 33%, #bed2dd 44%,
          rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 57%,
          #bed2dd 58%, #bed2dd 100%);
      animation: radiation-anim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .start-img img {
      width: 100%;
      border-radius: 50%;
    }

    h1 {
      border-radius: 50%;
      font-size: 35px;
      font-weight: 300;
    }

    label {
      display: block;
      padding: 0px 36px 26px 36px;
      margin: 24px;
      font-size: 14px;
      line-height: 1.6em;
      border-bottom: solid 1px;
    }


    .link-to-app {
      font-size: 14px;

      a {
        color: #77ab8c;
      }
    }

    .link-to-app * {
      vertical-align: top;
    }

    @keyframes radiation-anim {

      0%,
      30% {
        transform: translateX(-30%) translateY(30%)
      }

      41%,
      60% {
        transform: translateX(-15%) translateY(15%)
      }

      71%,
      100% {
        transform: translateX(0%) translateY(0%)
      }
    }


  }






}
