
<img src="assets/avatars/H01.jpg" alt="avatar"
  (click)="close('H01')">

<img src="assets/avatars/H02.jpg" alt="avatar"
  (click)="close('H02')">

<img src="assets/avatars/H03.jpg" alt="avatar"
  (click)="close('H03')">

<img src="assets/avatars/H04.jpg" alt="avatar"
  (click)="close('H04')">

<img src="assets/avatars/H05.jpg" alt="avatar"
  (click)="close('H05')">

<img src="assets/avatars/H06.jpg" alt="avatar"
(click)="close('H06')">

<img src="assets/avatars/H07.jpg" alt="avatar"
  (click)="close('H07')">

<img src="assets/avatars/H08.jpg" alt="avatar"
(click)="close('H08')">

<img src="assets/avatars/H09.jpg" alt="avatar"
  (click)="close('H09')">

<img src="assets/avatars/H10.jpg" alt="avatar"
(click)="close('H10')">

<img src="assets/avatars/M01.jpg" alt="avatar"
  (click)="close('M01')">

<img src="assets/avatars/M02.jpg" alt="avatar"
  (click)="close('M02')">

<img src="assets/avatars/M03.jpg" alt="avatar"
  (click)="close('M03')">

<img src="assets/avatars/M04.jpg" alt="avatar"
  (click)="close('M04')">

<img src="assets/avatars/M05.jpg" alt="avatar"
  (click)="close('M05')">

<img src="assets/avatars/M06.jpg" alt="avatar"
  (click)="close('M06')">

<img src="assets/avatars/M07.jpg" alt="avatar"
  (click)="close('M07')">

  <img src="assets/avatars/M08.jpg" alt="avatar"
  (click)="close('M08')">

  <img src="assets/avatars/M09.jpg" alt="avatar"
  (click)="close('M09')">

  <img src="assets/avatars/M10.jpg" alt="avatar"
  (click)="close('M10')">

