
<div class="main-component">
    
    <sec-floor></sec-floor>
    
    <div class="center">

        <sec-logo></sec-logo>
        
        <sec-items data-model="mainCtrl.mainModel.items"></sec-items>
        
        <sec-ranks data-model="mainCtrl.mainModel.ranks"></sec-ranks>
        
        <sec-hexagonals-details data-model="mainCtrl.mainModel.details"></sec-hexagonals-details> 

    </div>

</div>

