
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343e4d;
}


.main-component {
    
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .center {
        width: 1190px;
        margin: auto;
        z-index: 5;
    }

    
}