<div class="hexagonal-section">


    <div>

        <sec-hexagonal-title
            data-text="TOTAL SCORE">
        </sec-hexagonal-title>

        <div class="hexagonal-details">
            <sec-hexagonal 
                data-color="::hexDetCtrl.model[0].color"
                data-identifier="::hexDetCtrl.model[0].identifier"
                data-hint="HIGH"
                class="big">
            </sec-hexagonal>
        </div>

        <div class="avg">
            <span>Industry Avg Score</span>
            <sec-hexagonal 
                data-color="'#697686'"
                data-identifier="7"
                class="mini">
            </sec-hexagonal>
        </div>

    </div>



    <div>

        <sec-hexagonal-title
            data-text="RISK CATEGORIES">
        </sec-hexagonal-title>

        <div class="hexagonal-details">
            <sec-hexagonal-data 
                data-ng-repeat="data in hexDetCtrl.model"
                data-model="data">
            </sec-hexagonal-data>
        </div>

    </div>
    

</div>