
 .hexagonal-section {
    display: flex;
    
     &>div:nth-child(1) {
        width: 400px;
        .hexagonal-details {
            justify-content: center;
            sec-hexagonal {
                margin: 17px 0;            
            }
        }
    }
    
    &>div:nth-child(2) {
        flex: 1;
    }
    
    .hexagonal-details {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        sec-hexagonal-data {
            width: calc(100% /3);
        }
    }
    
    .avg {
        display: flex;
        align-items: center;
        justify-content: center;
        & > span {
            color: white;
            font-weight: 100;
            margin: 14px;
        }
    }
    

}