
<div class="messages">
  <div class="background"></div>
  <div *ngFor="let message of messages"
    [ngClass]="{'mine': message.sender === admin.id}">
    <label>
      {{message.text}}
      <span>{{message.id | date: 'hh:mm'}}</span>
      <span class="to-read" [ngClass]="{readed: message.isReaded}"></span>
    </label>
  </div>
</div>
<app-chat-input
  (whenSended)="addMessage($event)"
></app-chat-input>
