:host {

  .users-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0px;
    top: 201px;
    width: 100%;
    user-select: none;
  }


  .chat-section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
  }


  .cover-section {
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 500px;
    font-size: 0;
    position: absolute;
    padding: 20px 50px;
    top: 0;

    .left-size {
      width: 420px;
      height: 100%;
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .right-size {
      width: calc(100% - 420px);
      height: 100%;
      font-size: 14px;
      display: inline-block;
      background-color: white;
      border-bottom: solid 6px lime
    }

    .no-users {
      display: block;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      padding: 50px 0;
      text-shadow: 0 0 7px #ffffff;
      color: #d5d5ce;
    }
  }


  app-users-links {
    display: block;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
    }

    &.conversation-active::before {
      background: rgba(184, 231, 187, 0.35);
    }
  }




}
